<div style="border-top:0px dotted transparent;border-left:0px dotted transparent;border-bottom:0px dotted transparent;border-right:0px dotted transparent;padding-top:5px;padding-bottom:5px;padding-right:0px;padding-left:0px">
											
	<div class="m_7151901290806176624img-container m_7151901290806176624center m_7151901290806176624fixedwidth" align="center" style="padding-right:0px;padding-left:0px">
		<img class="m_7151901290806176624center m_7151901290806176624fixedwidth CToWUd" align="center" border="0" src="http://cdn.rimember.net/cms-images/logo-rim-blue.jpg" width="120">
		
	</div>
	
	<div style="color:#000000;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;line-height:120%;padding-top:20px;padding-right:10px;padding-bottom:10px;padding-left:10px">
		<div style="font-size:12px;line-height:14px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#000000">
			<!-- <p style="font-size:14px;line-height:16px;text-align:center;margin:0"><span style="font-size:28px;line-height:33px"><strong><span style="line-height:33px;font-size:28px">Hai RIMER-ers!</span></strong></span></p> -->
			<p style="font-size:14px;line-height:16px;text-align:center;margin:0"><span style="font-size:28px;line-height:33px"><strong><span style="line-height:33px;font-size:28px">Hai {{fullname}}!</span></strong></span></p>
		</div>
	</div>

	<div style="color:#000000;font-family:'Open Sans',Helvetica,Arial,sans-serif;line-height:180%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px">
		<div style="font-size:12px;line-height:21px;color:#000000;font-family:'Open Sans',Helvetica,Arial,sans-serif">
			<p style="font-size:12px;line-height:21px;text-align:center;margin:0"><span style="line-height:28px;color:#000000;font-size:16px">

				Terimakasih telah bergabung menjadi FREE Account, kini kamu bisa menikmati diskon hingga <strong>100%</strong> dengan join <strong>PREMIUM Account</strong> sekarang! <img goomoji="2764" data-goomoji="2764" style="margin:0 0.2ex;vertical-align:middle;max-height:24px" alt="❤" src="https://mail.google.com/mail/e/2764" data-image-whitelisted="" class="CToWUd"></span></p>
		</div>
	</div>
	
	<div class="m_7151901290806176624img-container m_7151901290806176624center m_7151901290806176624autowidth m_7151901290806176624fullwidth" align="center" style="padding-right:0px;padding-left:0px">
		<a href="http://bit.ly/NL-donation" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://bit.ly/NL-donation&amp;source=gmail&amp;ust=1546077114299000&amp;usg=AFQjCNHHAV3-o4zyPgii1uXsV0BUDg9C2g"> <img class="m_7151901290806176624center m_7151901290806176624autowidth m_7151901290806176624fullwidth CToWUd" align="center" border="0" src="http://cdn.rimember.net/template/benefit-premium-accforfreeacc.jpg" width="600"></a>
		
	</div>
	
	<!-- <div style="color:#000000;font-family:'Open Sans',Helvetica,Arial,sans-serif;line-height:180%;padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px">
		<div style="font-size:12px;line-height:21px;color:#000000;font-family:'Open Sans',Helvetica,Arial,sans-serif">
			<p style="font-size:12px;line-height:21px;text-align:left;margin:0"><span style="line-height:28px;color:#000000;font-size:16px">Indonesia sedang berduka. Ratusan saudara kita di Banten &amp; Lampung sangat membutuhkan uluran tangan. <strong>Bersama GO-DEALS</strong>, mari kita membantu korban tsunami di Banten &amp; Lampung. Dengan berdonasi mulai dari <strong>Rp5.000</strong> saja, kamu sudah meringankan beban mereka. Bantuanmu sungguh berarti bagi mereka yang membutuhkan <img goomoji="2764" data-goomoji="2764" style="margin:0 0.2ex;vertical-align:middle;max-height:24px" alt="❤" src="https://mail.google.com/mail/e/2764" data-image-whitelisted="" class="CToWUd"></span></p>
		</div>
	</div> -->
	
	<div class="m_7151901290806176624button-container" align="center" style="padding-top:15px;padding-right:15px;padding-bottom:15px;padding-left:15px">
		<a href="http://www.rimember.id/premium-account" style="text-decoration:none;display:inline-block;color:#ffffff;background-color:#080833;border-radius:4px;width:auto;width:auto;border-top:1px solid #080833;border-right:1px solid #080833;border-bottom:1px solid #080833;border-left:1px solid #080833;padding-top:10px;padding-bottom:10px;font-family:'Open Sans',Helvetica,Arial,sans-serif;text-align:center;word-break:keep-all" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://bit.ly/NL-donation&amp;source=gmail&amp;ust=1546077114299000&amp;usg=AFQjCNHHAV3-o4zyPgii1uXsV0BUDg9C2g"><span style="padding-left:27px;padding-right:27px;font-size:16px;display:inline-block">
				<span style="font-size:16px;line-height:32px">INFO LEBIH LANJUT</span>
			</span></a>
		
	</div>
	<!--#080833-->
</div>