<div style="box-sizing:border-box;background-color:#f5f8fa;color:#74787e;height:100%;line-height:1.4;width:100%!important;word-break:break-word;margin:0px;padding:0px;background:#f4f4f4 repeat;font-family:arial">
	<table border="0" width="700" cellpadding="0" cellspacing="0" align="center" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin-top:0px;margin-bottom:30px;border-spacing:0"><tbody style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box"><tr>
	<td style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
				<a href="http://www.rimember.id/" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;display:inline-block;color:#3686be" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://itemku.com/&amp;source=gmail&amp;ust=1545987484954000&amp;usg=AFQjCNFsm8tB4iRuU4CdHfpiHWKw1dXrjA">
					<img alt="" src="https://api.rajarepair.id/raja-repair-files/logo/logo-web.png" height="62" width="200" border="0" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;max-width:100%;border:none" class="CToWUd"></a>
			</td>
		</tr></tbody></table>
	<table border="0" width="700" cellpadding="0" cellspacing="0" align="center" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;margin-bottom:30px;background:#ffffff repeat;border:solid #eeeeee 4px;border-spacing:0;font-size:14px"><tbody style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box">
	<tr>
	<td style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;line-height:22px;color:#333333;border-collapse:collapse">
				<div style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;padding:10px 40px;font-size:14px">
					<p style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#74787e;font-size:16px;line-height:1.5em;margin-top:0;text-align:left">
		Dear Pengguna Raja Repair,<br><br>
		Berikut password yang telah kamu request: <br><br>
		
		Email&emsp;: {{email}} <br>
		Password&emsp; : {{password}} <br><br>
		
		Silahkan login kembali menggunakan password baru kamu<br><br>
		dan lakukan ubah password kamu di edit profile.<br><br>
		Terima kasih.
	</p>
				</div>
			</td>
		</tr>
		<tr>
			
		</tr>
	<tr>
	<td style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;text-align:center;padding:20px 0px;font-size:12px;line-height:18px;color:#888888;border-collapse:collapse">
				Ini adalah email otomatis, mohon untuk tidak membalas email ini. <br>
				<!-- Jika kamu tidak ingin menerima email ini dari <a href="http://itemku.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://itemku.com&amp;source=gmail&amp;ust=1545987484955000&amp;usg=AFQjCNGIQaeZ457C1o6qP2yj2y5AXSouaA">itemku.com</a> di masa mendatang, kamu bisa <a href="https://itemku.com/profil/notifikasi" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#3869d4" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://itemku.com/profil/notifikasi&amp;source=gmail&amp;ust=1545987484955000&amp;usg=AFQjCNGP1M-r0d5qRcsLtlpX94PN9V0p_g">unsubscribe</a>.
				Untuk menghubungi kami, silahkan masuk ke halaman <a href="https://itemku.com/hubungi-kami" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#3869d4" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://itemku.com/hubungi-kami&amp;source=gmail&amp;ust=1545987484955000&amp;usg=AFQjCNGbnCa2UFUbQ8UuZ57W19HtRxfvIg">Hubungi itemku</a><br><br> -->
				© Copyright 2020 Raja Repair All Right Reserved.
			</td>
		</tr>
	<tr>
	<td style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;text-align:center;padding:10px 0px">
				<!-- <a href="https://www.facebook.com/itemku" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;color:#3869d4" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/itemku&amp;source=gmail&amp;ust=1545987484955000&amp;usg=AFQjCNHuz6DWmohQhDY3D4ttmfHpw41cog"><img alt="fb-icon" src="https://ci6.googleusercontent.com/proxy/qXiC7Fw2zRP0unUeXxnzYTNxG-RTPn6kF0rcagvtWJDvri7J1CPIuHC19N83waM5AedHAmCrTx9s6fDpuWY=s0-d-e1-ft#https://files.itemku.com/images/fb-icon.png" style="font-family:Avenir,Helvetica,sans-serif;box-sizing:border-box;max-width:100%;border:none" class="CToWUd"></a> -->
			</td>
		</tr>
	</tbody></table><div class="yj6qo"></div><div class="adL">
	</div></div>